{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href= {% static 'buildings/style.css' %} />

  <h1>Anspach Hall</h1>
  <p>This hall is located on the west side of campus. Some halls that are near here are Pearce, Dow, and Brooks. Anspach has three floors and a basement. It was also recently renovated. Now on the main floor there is a nice lounge area where it is a nice place to relax and study.</p>

  <h3>The basement looks like this.</h3>
  <img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
  <h3>The first floor looks like this.</h3>
  <img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
  <h3>The second floor looks like this.</h3>
  <img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
  <h3>The third floor looks like this.</h3>
  <img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
