<!DOCTYPE html>
<html>
<head>
	<title>Pearce Hall</title>
	<link rel="stylesheet" type ="text/css" href="/independent_project/mapsite/templates/mystyle.css">
</head>
<body>
	<h1>Pearce Hall</h1>
	<p>This hall is located on the west side of campus. Some halls that are near here are Anspach, Dow, and Brooks. Pearce has four floors. The second floor is where the Math Department is located. The third floor is commonly where foreign languages are located. The fourth floor is where the Computer Science department is located.</p>

	<h3>The first floor looks like this.</h3>
	<img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
	<h3>The second floor looks like this.</h3>
	<img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
	<h3>The third floor looks like this.</h3>
	<img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
	<h3>The fourth floor looks like this.</h3>
	<img src="http://fc03.deviantart.net/fs71/f/2012/217/9/1/cat_filler_21_by_waywardinsecticon-d59z417.jpg" />
</body>
</html>
